@media (max-width: 800px) {
  .pseudo-body__part3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 650px) {
  .pseudo-body__part2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pseudo-body__part2 p {
    font-size: 10px;
  }
}
body {
  background-color: #f7fcff;
}
body span {
  font-weight: 600;
}

.container {
  max-width: 80%;
  -webkit-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  position: relative;
  left: 50%;
}

.pseudo-header__top-part {
  background: url("../img/box-main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 1;
  padding: 40px 10%;
  margin: 0px 0 30px 0px;
}
.pseudo-header__top-part ::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.2;
  z-index: -1;
}
.pseudo-header__top-part div:nth-child(1) {
  padding: 10px 0px 0px 0px;
  text-align: center;
  font-family: "Sawarabi Gothic";
  font-size: 50px;
  color: #fff;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0;
  /*font-family(1),font-size(2),color(3),font-weight(4),line-height(5),letter-spacing(6)*/
}

.pseudo-header__bottom-part_counter {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px;
  margin-bottom: 80px;
  font-family: "Sawarabi Gothic";
  font-size: 30px;
  color: black;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0;
  /*font-family(1),font-size(2),color(3),font-weight(4),line-height(5),letter-spacing(6)*/
}
.pseudo-header__bottom-part_counter p {
  color: black;
  font-family: "Sawarabi Gothic";
  font-size: 30px;
  color: black;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0;
  /*font-family(1),font-size(2),color(3),font-weight(4),line-height(5),letter-spacing(6)*/
}
.pseudo-header__bottom-part_counter div {
  padding-bottom: 50px;
  color: black;
  position: absolute;
  -webkit-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  left: 50%;
  z-index: 10;
  -webkit-animation-name: counter;
          animation-name: counter;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  visibility: hidden;
  font-family: "Sawarabi Gothic";
  font-size: 30px;
  color: black;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0;
  /*font-family(1),font-size(2),color(3),font-weight(4),line-height(5),letter-spacing(6)*/
}
.pseudo-header__bottom-part_counter div:nth-child(2) {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.pseudo-header__bottom-part_counter div:nth-child(3) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}
.pseudo-header__bottom-part_counter div:nth-child(4) {
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}
.pseudo-header__bottom-part_counter div:nth-child(5) {
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}
.pseudo-header__bottom-part_counter div:nth-child(6) {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 22s;
          animation-delay: 22s;
}
.pseudo-header__bottom-part_counter div:nth-child(7) {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 23s;
          animation-delay: 23s;
}
.pseudo-header__bottom-part_counter div:nth-child(8) {
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-delay: 28s;
          animation-delay: 28s;
}
.pseudo-header__bottom-part_counter div:nth-child(9) {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 38s;
          animation-delay: 38s;
}
.pseudo-header__bottom-part_counter div:nth-child(10) {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 42s;
          animation-delay: 42s;
}
.pseudo-header__bottom-part_counter div:nth-child(11) {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 43s;
          animation-delay: 43s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes counter {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes counter {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
.pseudo-body__part1 p:nth-child(1) {
  padding-bottom: 20px;
  text-align: center;
  font-family: "Istok Web";
  font-size: 40px;
  color: #000;
  font-weight: 100;
  line-height: 30px;
  letter-spacing: 0;
  /*font-family(1),font-size(2),color(3),font-weight(4),line-height(5),letter-spacing(6)*/
}
.pseudo-body__part1 p:nth-child(2) {
  margin-bottom: 70px;
  text-align: justify;
  font-family: "Istok Web";
  font-size: 20px;
  color: #000;
  font-weight: 100;
  line-height: 25px;
  letter-spacing: 0;
  /*font-family(1),font-size(2),color(3),font-weight(4),line-height(5),letter-spacing(6)*/
}
.pseudo-body__part1 p:nth-child(3) {
  text-align: center;
  margin-bottom: 40px;
  font-family: "Istok Web";
  font-size: 30px;
  color: #000;
  font-weight: 100;
  line-height: 25px;
  letter-spacing: 0;
  /*font-family(1),font-size(2),color(3),font-weight(4),line-height(5),letter-spacing(6)*/
}

.pseudo-body__part2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pseudo-body__space1 {
  margin: 20px 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
}
.pseudo-body__space1 img {
  padding: 10px;
}
.pseudo-body__space1 p {
  padding: 20px;
  font-family: "Istok Web";
  font-size: 20px;
  color: #000;
  font-weight: 100;
  line-height: 25px;
  letter-spacing: 0;
  /*font-family(1),font-size(2),color(3),font-weight(4),line-height(5),letter-spacing(6)*/
}

.pseudo-body__space2 {
  margin: 20px 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
}
.pseudo-body__space2 img {
  padding: 10px;
}
.pseudo-body__space2 p {
  padding: 20px;
  font-family: "Istok Web";
  font-size: 20px;
  color: #000;
  font-weight: 100;
  line-height: 25px;
  letter-spacing: 0;
  /*font-family(1),font-size(2),color(3),font-weight(4),line-height(5),letter-spacing(6)*/
}

h2 {
  text-align: center;
  margin: 60px 0px 30px 0px;
  font-family: "Istok Web";
  font-size: 30px;
  color: #000;
  font-weight: 100;
  line-height: 50px;
  letter-spacing: 0;
  /*font-family(1),font-size(2),color(3),font-weight(4),line-height(5),letter-spacing(6)*/
}

.pseudo-body__part3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}
.pseudo-body__part3 div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
  margin: 20px 43px;
  padding: 0px 10px;
  font-family: "Istok Web";
  font-size: 16px;
  color: #000;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0;
  /*font-family(1),font-size(2),color(3),font-weight(4),line-height(5),letter-spacing(6)*/
}
.pseudo-body__part3 img {
  height: 140px;
  width: 140px;
  margin: 10px;
}

.pseudo-body__part4 {
  font-family: "Istok Web";
  font-size: 20px;
  color: #000;
  font-weight: 100;
  line-height: 24px;
  letter-spacing: 0;
  /*font-family(1),font-size(2),color(3),font-weight(4),line-height(5),letter-spacing(6)*/
}

.list {
  margin: 20px;
}
.list li {
  margin-bottom: 30px;
}

h3 {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Istok Web";
  font-size: 30px;
  color: #000;
  font-weight: 100;
  line-height: 25px;
  letter-spacing: 0;
  /*font-family(1),font-size(2),color(3),font-weight(4),line-height(5),letter-spacing(6)*/
}

.pseudo-footer {
  padding-bottom: 10px;
  font-family: "Istok Web";
  font-size: 20px;
  color: #000;
  font-weight: 100;
  line-height: 30px;
  letter-spacing: 0;
  /*font-family(1),font-size(2),color(3),font-weight(4),line-height(5),letter-spacing(6)*/
}

.pseudo-footer__banner {
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
  margin: 20px 0px;
  background-color: #fef84c;
  border-radius: 10px;
  outline: hidden;
  font-family: "Istok Web";
  font-size: 20px;
  color: #000;
  font-weight: 100;
  line-height: 25px;
  letter-spacing: 0;
  /*font-family(1),font-size(2),color(3),font-weight(4),line-height(5),letter-spacing(6)*/
}
.pseudo-footer__banner p {
  text-align: center;
}
.pseudo-footer__banner a {
  display: block;
  text-align: center;
}