body {
  background-color: #f7fcff;
}
body span {
  font-weight: 600;
}

.container {
  max-width: 80%;
  -webkit-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  position: relative;
  left: 50%;
}

.pseudo-header__top-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pseudo-header__top-part img {
  height: 50px;
  width: 50px;
  margin-left: 10px;
}
.pseudo-header__top-part a {
  font-size: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  border-radius: 10px;
  outline: hidden;
  padding: 10px 20px;
  background: #4a8cea;
  color: white;
  margin: 0px 10px 0px 20px;
}

.pseudo-header__bottom-part {
  background: url("../img/box-main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 1;
  padding: 0px 10%;
  margin: 0px 0 30px 0px;
}
.pseudo-header__bottom-part ::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.2;
  z-index: -1;
}
.pseudo-header__bottom-part div:nth-child(1) {
  padding-top: 10px;
  font-size: 25px;
  color: white;
  line-height: 30px;
  font-family: "Comfortaa", cursive;
}
.pseudo-header__bottom-part div:nth-child(2) {
  font-size: 50px;
  color: white;
  font-weight: 700;
  font-family: "Sawarabi Gothic", sans-serif;
  line-height: 60px;
  letter-spacing: 0px;
  padding: 10px 0;
}
.pseudo-header__bottom-part div:nth-child(3) {
  padding-bottom: 10px;
  font-size: 20px;
  color: white;
  font-family: "Nunito", sans-serif;
  line-height: 30px;
  letter-spacing: 1px;
}

.pseudo-body__part1 p:nth-child(1) {
  padding-bottom: 20px;
  text-align: center;
  line-height: 30px;
  font-size: 40px;
  font-family: "Istok Web", sans-serif;
}
.pseudo-body__part1 p:nth-child(2) {
  line-height: 25px;
  text-align: justify;
  font-size: 20px;
  font-family: "Istok Web", sans-serif;
  margin-bottom: 70px;
}
.pseudo-body__part1 p:nth-child(3) {
  text-align: center;
  font-size: 30px;
  font-family: "Istok Web", sans-serif;
  margin-bottom: 40px;
}

.pseudo-body__part2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pseudo-body__space1 {
  margin: 20px 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
}
.pseudo-body__space1 img {
  padding: 10px;
}
.pseudo-body__space1 p {
  padding: 20px;
  font-size: 20px;
  font-family: "Istok Web", sans-serif;
}

.pseudo-body__space2 {
  margin: 20px 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
}
.pseudo-body__space2 img {
  padding: 10px;
}
.pseudo-body__space2 p {
  padding: 20px;
  font-size: 20px;
  font-family: "Istok Web", sans-serif;
}

h2 {
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  font-family: "Istok Web", sans-serif;
  margin: 60px 0px 30px 0px;
}

.pseudo-body__part3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}
.pseudo-body__part3 div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
  margin: 20px 43px;
  padding: 0px 10px;
  font-family: "Istok Web", sans-serif;
  font-size: 16px;
  line-height: 20px;
}
.pseudo-body__part3 img {
  height: 140px;
  width: 140px;
  margin: 10px;
}

.pseudo-body__part4 {
  font-family: "Istok Web", sans-serif;
  font-size: 20px;
  line-height: 24px;
}

.list {
  margin: 20px;
}
.list li {
  margin-bottom: 30px;
}

h3 {
  text-align: center;
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 20px;
}

.pseudo-footer {
  font-family: "Istok Web", sans-serif;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 10px;
}

.pseudo-footer__banner {
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
  margin: 20px 0px;
  font-size: 20px;
  background-color: #fef84c;
  border-radius: 10px;
  outline: hidden;
  font-family: "Istok Web", sans-serif;
}
.pseudo-footer__banner p {
  text-align: center;
}
.pseudo-footer__banner a {
  display: block;
  text-align: center;
}