@media(max-width:800px){
    .pseudo-body__part3{
        flex-direction: column;
    }
}
@media(max-width:650px){
    .pseudo-body__part2{
        flex-direction: column;
        p{font-size: 10px;}
    }
}
@mixin fontz($ff,$fs,$c,$fw,$lh,$ls){
    font-family: $ff;
    font-size: $fs;
    color: $c;
    font-weight: $fw;
    line-height: $lh;
    letter-spacing: $ls;
}
body{
    span{font-weight: 600;}
    background-color: #f7fcff;

}
.container {
    max-width: 80%;
    transform: translate(-50%,0px);
    position:relative;
    left: 50%;
}
// .pseudo-header__top-part {
//         img{height: 50px;
//             width: 50px;
//             position: absolute;
//             z-index: 50;
//         }
//         a{font-size: 20px;
//             flex:1 0 50%;
//             border-radius: 10px;
//             outline: hidden;
//             padding: 10px 20px;
//             background: #4a8cea;
//             color:rgb(255, 255, 255);
//             margin: 0px 10px 0px 20px;} 
// }
.pseudo-header__top-part {
    background: url('../img/box-main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
    padding: 0px 10%;
    margin: 0px 0 30px 0px;
    ::after{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #000;
        opacity: 0.5;
        z-index: -1;
    }
        div:nth-child(1){
            padding: 10px 0px 80px 0px;
            text-align: center;
            @include fontz('Sawarabi Gothic',50px,#fff,700,60px,0); /*font-family(1),font-size(2),color(3),font-weight(4),line-height(5),letter-spacing(6)*/
        }
}

    
.pseudo-header__bottom-part_counter{
    text-align: center;
    margin:0px 0px 30px 0px;
    div{
        font-size: 30px;
        font-weight: 700;
        color: rgb(255, 255, 255);
        position: absolute;
        transform: translate(0%, -70px);
        left:50%;
        z-index: 10;
        animation-name: counter;
        animation-fill-mode: forwards;
        // animation-iteration-count: infinite;
    }

    div:nth-child(1){
        animation-duration: 1s;
    }
    div:nth-child(2){}
    div:nth-child(3){}
    div:nth-child(4){}
    div:nth-child(5){}
    div:nth-child(6){}
    div:nth-child(7){}
    div:nth-child(8){}
    div:nth-child(9){}
    div:nth-child(10){}

//     div:nth-child(2){
//         font-size: 30px;
//         color: #000;
//         position: absolute;
//         transform: translate(0%, -71px);
//         left:50%;
//         z-index: 10;
//         // animation-name: counter;
//         // animation-duration: 2s;
//         // animation-iteration-count: infinite;
//     }
}

@keyframes counter{
    
    0%{
        // color: #000;
        // opacity: 0;
        // color: #000;
        visibility: visible;
    }   
    100%{
        // color: rgb(255, 255, 255);
        // opacity: 1;
        // color: #fff;
        visibility: hidden;
    }          
}


.pseudo-body__part1 {
    p:nth-child(1){
        padding-bottom: 20px;
        text-align: center;
        @include fontz('Istok Web',40px,#000,100,30px,0); /*font-family(1),font-size(2),color(3),font-weight(4),line-height(5),letter-spacing(6)*/
    }
    p:nth-child(2){
        margin-bottom: 70px;
        text-align: justify;
        @include fontz('Istok Web',20px,#000,100,25px,0); /*font-family(1),font-size(2),color(3),font-weight(4),line-height(5),letter-spacing(6)*/
    }
    p:nth-child(3){
        text-align: center;
        margin-bottom: 40px;
        @include fontz('Istok Web',30px,#000,100,25px,0); /*font-family(1),font-size(2),color(3),font-weight(4),line-height(5),letter-spacing(6)*/
    }
}
.pseudo-body__part2{
    display: flex;
    justify-content: center;
}
.pseudo-body__space1{
    margin:20px 40px;
    align-items: center;
    display: flex;
    flex:0 0 33%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
    img{padding: 10px;
    }
    p{padding: 20px;
    @include fontz('Istok Web',20px,#000,100,25px,0); /*font-family(1),font-size(2),color(3),font-weight(4),line-height(5),letter-spacing(6)*/
    }
}
.pseudo-body__space2{
    margin:20px 40px;
    align-items: center;
    display: flex;
    flex:0 0 33%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
    img{padding: 10px;
    }
    p{padding: 20px;
    @include fontz('Istok Web',20px,#000,100,25px,0); /*font-family(1),font-size(2),color(3),font-weight(4),line-height(5),letter-spacing(6)*/
    }
}
h2{
    text-align: center;
    margin: 60px 0px 30px 0px;
    @include fontz('Istok Web',30px,#000,100,50px,0); /*font-family(1),font-size(2),color(3),font-weight(4),line-height(5),letter-spacing(6)*/
}
.pseudo-body__part3 {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    div{flex:0 0 20%;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
        margin: 20px 43px;
        padding: 0px 10px;
        @include fontz('Istok Web',16px,#000,100,20px,0); /*font-family(1),font-size(2),color(3),font-weight(4),line-height(5),letter-spacing(6)*/
        }
    img{height: 140px;
        width: 140px;
        margin: 10px;
    }    
}
.pseudo-body__part4 {
    @include fontz('Istok Web',20px,#000,100,24px,0); /*font-family(1),font-size(2),color(3),font-weight(4),line-height(5),letter-spacing(6)*/
}
.list{
    margin: 20px;
    li{margin-bottom: 30px;}
}
h3{
    text-align: center;
    margin-bottom: 20px;
    @include fontz('Istok Web',30px,#000,100,25px,0); /*font-family(1),font-size(2),color(3),font-weight(4),line-height(5),letter-spacing(6)*/
}
.pseudo-footer {
    padding-bottom: 10px;
    @include fontz('Istok Web',20px,#000,100,30px,0); /*font-family(1),font-size(2),color(3),font-weight(4),line-height(5),letter-spacing(6)*/
}
.pseudo-footer__banner{
    border-radius: 10px;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
    margin: 20px 0px;
    background-color: rgb(254,248,76);
    border-radius: 10px;
    outline:hidden;
    @include fontz('Istok Web',20px,#000,100,25px,0); /*font-family(1),font-size(2),color(3),font-weight(4),line-height(5),letter-spacing(6)*/
    p{text-align: center;}
    a{display: block;
    text-align:center;}
}
